* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-light: rgba(252, 247, 255, 1);
    --color-accent-secondary: rgba(75, 127, 82, 1);
    --color-light-secondary: rgba(154, 209, 212, 1);
    --color-dark: rgba(19, 38, 47, 1);
    --color-accent-primary: rgba(98, 195, 112, 1);
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--color-light-secondary);
}

body {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: auto;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 2rem;
}

h1 {
    padding-bottom: 2rem;
    text-decoration: underline;
}

p {
    margin-bottom: 2rem;
}
.input {
    width: 50%;
    float: left;
}
input {
    width: 90%;
    height: 2rem;
    font-size: 14px;
    padding-left: 6px;
    font-family: inherit;
    line-height: 1.8rem;
    background-color: white;
    border: none;
    box-shadow: inset 3px 3px #6f6060, 3px 3px #8470701a;
}
input:focus,
input :active {
    outline: none;
    box-shadow: inset 3px 3px #53a4ad, 3px 3px #2e5a4c5c;
}
label {
    margin-top: 1rem;
    display: block;
}
#picture-upload {
    /* display: none; */
}

input:-internal-autofill-selected {
    background: white !important
}
